@keyframes anim-chevron
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(180deg)

@keyframes open
    0%
        opacity: 0
    100%
        opacity: 1
    
.collapse
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 25px
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        color: white
        background-color: #FF6060
        padding: 12px
        border-radius: 10px
        line-height: 35px
        width: 100%
        &-title
            font-size: 0.9em
            margin: 0
            font-weight: 600
        &-chevron
            transform: rotate(0deg)
            animation: anim-chevron 500ms alternate forwards  
    &__content
        width: 100%
        background-color: #f6f6f6
        margin: 0
        font-size: 0.8em
        padding: 12px
        animation: open 1s forwards
    &__hidden
        display: none

.fa-chevron-up
    margin-right: 20px